@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .text-gold-600 {
    color: #D4AF37;
  }
  
  .bg-gold-600 {
    background-color: #D4AF37;
  }
  
  .bg-gold-700 {
    background-color: #B4941F;
  }
  
  .hover\:text-gold-600:hover {
    color: #D4AF37;
  }
  
  .hover\:bg-gold-700:hover {
    background-color: #B4941F;
  }
}